<!-- The main (and only) page for the Crossword Puzzle game

This file is viewed through a Flask server and is interpreted by Jinja2 to help 
generate dynamic content, as each crossword created by this program is unique 
(unless you get lucky). 
-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ _('Crossword Puzzle - Game') }}</title>
    <script src="{{ url_for('static', filename='interaction.min.js') }}"></script>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
      type="text/javascript"></script>
    <script src="{{ url_for('static', filename='jquery.zoomooz.min.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css')}}" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.ico') }}" />

    <style>
      :root {
          --dimensions: {{ dimensions }};
          --scaling: {{ scaling }};
          --cell_font_size: calc(95vmin / calc(var(--dimensions) * 1.7));
          --num_label_font_size: calc(var(--cell_font_size) / 1.79);
          --grid_size: calc(95vmin / var(--dimensions));
          --main_colour: {{ colour_palette["MAIN"] }};
          --sub_colour: {{ colour_palette["SUB"] }};
          --text_colour: {{ colour_palette["TEXT"] }};
          --button_colour: {{ colour_palette["BUTTON"] }};
          --button_hover_colour: {{ colour_palette["BUTTON_HOVER"] }};
          --button_text_colour: {{ colour_palette["BUTTON_TEXT_COLOUR"] }};
          --correct_colour: {{ colour_palette["CORRECT"] }};
          --wrong_colour: {{ colour_palette["WRONG"] }};
          --text_disabled_colour: {{ colour_palette["TEXT_DISABLED"] }};
      }
    </style>

    <script type="text/javascript">
      $(document).ready(() => {
        /* zoomooz.js implementation. */
        $(".non_empty_cell").click(function (event) {
          $(".non_empty_cell").zoomTarget();
        });

        $(".def").click(function (event) {
          $(".def").zoomTarget();
        });
      });
    </script>
  </head>

  <body
    data-grid="{{ grid }}"
    data-dimensions="{{ dimensions }}"
    data-directions="{{ directions }}"
    data-empty="{{ empty }}"
    data-colour_palette="{{ json_colour_palette }}"
    data-intersections="{{ intersections }}"
    data-js_err_msgs="{{ js_err_msgs }}"
    data-word_count="{{ starting_word_positions|length }}">
    <audio
      id="jazz" 
      src="{{ url_for('static', filename='sound/jazz.wav') }}">
    </audio>
    <audio
      class="click" 
      src="{{ url_for('static', filename='sound/click1.wav') }}">
    </audio>
    <audio
    class="click"  
      src="{{ url_for('static', filename='sound/click2.wav') }}">
    </audio>
    <audio
      class="click" 
      src="{{ url_for('static', filename='sound/click3.wav') }}">
    </audio>
    <audio
      class="click" 
      src="{{ url_for('static', filename='sound/click4.wav') }}">
    </audio>
    
    
    <div class="container" id="blur">
      <div class="left_side">
        <div class="wrapper_grid zoomViewport">
          <div class="wrapper_grid zoomContainer">
            <div class="grid">
              {% for row in range(dimensions) %} 
              {% for column in range(dimensions) %} 
              {% if grid[row][column] != empty %} {# There is a word in this cell #}
              <div
                class="non_empty_cell"
                data-targetsize="0.2"
                data-closeclick="true"
                data-row="{{ row }}"
                data-column="{{ column }}"
                data-value="{{ grid[row][column] }}">
                {% if (row, column) in starting_word_positions %} {# Start of a word #}
                <div
                  class="num_label"
                  data-num_label="{{ starting_word_matrix[row][column] }}">
                  {{ starting_word_matrix[row][column] }}
                </div>
                {% endif %}
              </div>

              {% else %} {# This cell will have no characters #}
              <div
                class="empty_cell"
                data-row="{{ row }}"
                data-column="{{ column }}"
                data-value="None"></div>
              {% endif %} 
              {% endfor %} 
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="right_side">
        <div class="definitions">
          {% set ns = namespace(tab_index_counter = 18) %}
          <div class="wrapper_def zoomViewport" id="no_scroll">
            <div class="wrapper_def zoomContainer" id="return_def_zoom">
              <div class="definitions_a">
                {# Column one for across definitions #}
                <ul>
                  <h3 class="def_heading">{{ _('Across') }}</h3>
                  {% for dict_ in definitions_a %} 
                  {% for num_label, definition in dict_.items() %}
                  <li
                    class="def zoomTarget"
                    data-targetsize="0.725"
                    data-preservescroll="true"
                    data-closeclick="true"
                    data-direction="{{ directions[0] }}"
                    tabindex="{{ ns.tab_index_counter }}"
                    data-num="{{ num_label }}"
                    data-word="{{ definition[0].upper() }}"
                    ><b>{{ num_label }}</b> {{ definition[1] }}</li
                  >
                  {% set ns.tab_index_counter = ns.tab_index_counter + 1 %} 
                  {% endfor %} 
                  {% endfor %}
                </ul>
              </div>

              <div class="definitions_d">
                {# Column two for downward definitions #}
                <ul>
                  <h3 class="def_heading">{{ _('Down') }}</h3>
                  {% for dict_ in definitions_d %} 
                  {% for num_label, definition in dict_.items() %}
                  <li
                    class="def zoomTarget"
                    data-targetsize="0.725"
                    data-preservescroll="true"
                    data-closeclick="true"
                    data-direction="{{ directions[1] }}"
                    tabindex="{{ ns.tab_index_counter }}"
                    data-num="{{ num_label }}"
                    data-word="{{ definition[0].upper() }}"
                    ><b>{{ num_label }}</b> {{ definition[1] }}</li
                  >
                  {% set ns.tab_index_counter = ns.tab_index_counter + 1 %} 
                  {% endfor %} 
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>

          {# Compound button #}
          <div class="compound">
            <button tabindex="1" id="compound_button"
              >{{ _('Compound') }}
              <span class="keybind_span">[⇧+1]</span></button
            >
          </div>

          {# Reveal, check, and clear dropdowns and their respective buttons #}
          <div class="top_buttons_container">
            {# Reveal buttons #}
            <button
              tabindex="6"
              class="special_button"
              id="reveal_button"
              onclick="interaction.onDropdownClick('reveal_dropdown')">
              {{ _('Reveal') }} ▼
            </button>
            <div class="dropdown" id="reveal_dropdown">
              <button
                class="dropdown_button"
                tabindex="7"
                onclick="interaction.doSpecialButtonAction('cell', 'reveal')">
                {{ _('Cell') }}
              </button>
              <button
                class="dropdown_button"
                tabindex="8"
                onclick="interaction.doSpecialButtonAction('word', 'reveal')">
                {{ _('Word') }}<span class="keybind_span"> [⇧+↵]</span>
              </button>
              <button
                class="dropdown_button"
                tabindex="9"
                onclick="interaction.doSpecialButtonAction('grid', 'reveal')">
                {{ _('Grid') }}
              </button>
            </div>

            {# Check buttons #}
            <button
              tabindex="10"
              class="special_button"
              id="check_button"
              onclick="interaction.onDropdownClick('check_dropdown')">
              {{ _('Check') }} ▼
            </button>
            <div class="dropdown" id="check_dropdown">
              <button
                class="dropdown_button"
                tabindex="11"
                onclick="interaction.doSpecialButtonAction('cell', 'check')">
                {{ _('Cell') }}
              </button>
              <button
                class="dropdown_button"
                tabindex="12"
                onclick="interaction.doSpecialButtonAction('word', 'check')">
                {{ _('Word') }}<span class="keybind_span"> [↵]</span>
              </button>
              <button
                class="dropdown_button"
                tabindex="13"
                onclick="interaction.doSpecialButtonAction('grid', 'check')">
                {{ _('Grid') }}
              </button>
            </div>

            {# Clear buttons #}
            <button
              tabindex="14"
              class="special_button"
              id="clear_button"
              onclick="interaction.onDropdownClick('clear_dropdown')">
              {{ _('Clear') }} ▼
            </button>
            <div class="dropdown" id="clear_dropdown">
              <button
                class="dropdown_button"
                tabindex="15"
                onclick="interaction.doSpecialButtonAction('word', 'clear')">
                {{ _('Word') }}<span class="keybind_span"> [⇧+⌫]</span>
              </button>
              <button
                class="dropdown_button"
                tabindex="16"
                onclick="interaction.doSpecialButtonAction('grid', 'clear')">
                {{ _('Grid') }}
              </button>
              <button
                class="dropdown_button"
                tabindex="17"
                onclick="interaction.doSpecialButtonAction('grid', 'clear', true, true)">
                {{ _('Unrevealed') }}
              </button>
            </div>
          </div>

          {# Toggle buttons #}
          <div class="toggles">
            <label tabindex="2" class="toggle">
              <input
                class="toggle_checkbox toggle_skip"
                id="ts"
                type="checkbox" />
              <div class="toggle_switch"></div>
              <span class="toggle_label">{{ _('Auto-skip') }}</span>
            </label>

            <label tabindex="3" class="toggle">
              <input
                class="toggle_checkbox toggle_word"
                id="tw"
                type="checkbox" />
              <div class="toggle_switch"></div>
              <span class="toggle_label">{{ _('Auto-word') }}</span>
            </label>

            <label tabindex="4" class="toggle">
              <input
                class="toggle_checkbox toggle_check"
                id="tc"
                type="checkbox" />
              <div class="toggle_switch"></div>
              <span class="toggle_label">{{ _('Auto-check') }}</span>
            </label>

            <label tabindex="5" class="toggle">
              <input
                class="toggle_checkbox toggle_zoom"
                id="tz"
                type="checkbox" />
              <div class="toggle_switch"></div>
              <span class="toggle_label">{{ _('Zoom') }}</span>
            </label>
          </div>
        </div>
      </div>
    </div>

    {# Popup that displays on loading the web app - displays the crossword name,
    category and word count #}
    <div id="onload_popup" class="popup">
      <h2 class="heading">{{ _('Crossword Puzzle - Game') }}</h2>
      <p>
        {{ _('You are viewing') }} {{ name }} ({{ difficulty }}) {{ _('from') }}
        {{ _(category.title()) }}
      </p>
      {% if failed_insertions > 0 %}
      <p>
        {{ failed_insertions }} {{ _('word(s) could not be inserted, sorry.') }}
      </p>
      <p>
        {{ _('Word count (adjusted)') }}: {{ word_count - failed_insertions }}
      </p>
      {% else %}
      <p>{{ _('Word count') }}: {{ word_count }}</p>
      {% endif %}
      <button
        id="close_popup_button"
        class="continue_button"
        onclick="interaction.closeOnloadPopup(true)">
        {{ _('Continue') }}
      </button>
    </div>

    {# Popup that displays on completion of the crossword #}
    <div id="completion_popup" class="popup">
      <h2 class="heading">{{ _('You completed the crossword!') }}</h2>
      <button
        id="close_popup_button"
        class="close_button"
        onclick="interaction.displayCompletionPopup()">
        {{ _('Close') }}
      </button>
    </div>
  </body>
</html>
