# my stuff
notes.txt
debugging
test
googlekey.json
run_as_package.py

# python related
venv
__pycache__

# vscode extensions
tempCodeRunnerFile.py
tempCodeRunnerFile.python

# macos hidden file
**/.DS_Store

# setuptools
build
crossword_puzzle.egg-info
dist

# dev tools
.ruff_cache

# npm
node_modules
yarn.lock
