html { 
    font-family: Arial, Helvetica, sans-serif; 
    color: var(--text_colour);
}

body { /* These styles are from https://css-pattern.com */
    --s: 70px; /* the size */
    --c: var(--main_colour);
    
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%, var(--sub_colour) 68% 70%,#0000 72%;
    background:
        radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 0    75%,var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s),
        radial-gradient(var(--_g) 0    75%,var(--_c)) 0 0/var(--_s),
        repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s),
        radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s)
        var(--c);
}

#container { /* Holds the crossword grid and the definitions div */
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3em; 
}

#grid { /* The crossword grid */
    display: grid;
    /* Configure `--dimensions` amount of rows/columns with a size of `95vmin / --dimensions` */
    grid-template-columns: repeat(var(--dimensions), var(--grid_size));
    grid-template-rows: repeat(var(--dimensions), var(--grid_size));
    gap: 0 0; 
}

#grid > div { position: relative; }

#grid > div.empty_cell { background: black; }

#grid > div.non_empty_cell {
    background: var(--sub_colour);
    text-transform: uppercase; /* Force inner html to be uppercase */
    font-size: var(--cell_font_size);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 0.1px solid black;
    user-select: none;
    -webkit-user-select: none;
}

.num_label { /* Labels the start of a word */
    position: absolute; /* Positioned absolutely to `#grid > div` */
    top: 1%;
    left: 5%;
    user-select: none;
    -webkit-user-select: none;
    font-size: var(--num_label_font_size); 
}

.definitions { /* Contains two divs that display the words that run across/down the grid */
    display: flex;
    background-color: var(--sub_colour);
    justify-content: center;
    right: 0;
    overflow-y: auto;
    max-height: 95vmin;
    width: 95vmin;
}

.definitions_a, .definitions_d { flex: 1; } /* Make both definition columns take up an equal 
                                            amount of space */

ul { list-style-type: none; } /* Remove bullet points from the unordered list */

li { 
    margin-bottom: 10px; 
    white-space: pre-wrap; /* Helps html recognise more whitespace for the definitions list */
    user-select: none;
    -webkit-user-select: none;
} 

li:hover { cursor: pointer; } /* Will help the user to understand that they can click on 
                              a list element/definition to set their input to the corresponding 
                              spot on the crossword grid */

.def_heading {
    user-select: none;
    -webkit-user-select: none;
}