<!-- The main (and only) page for the Crossword Puzzle game. This file contains the html that lays
out the crossword grid, as well as the html to display the positions and clues of the words, and CSS.

This file is viewed through a flask server and is interpreted by Jinja2 to help generate dynamic 
content, as each crossword created by this program is unique (unless you get lucky). 
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crossword Puzzle - Game</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <style>
        :root { 
            --dimensions: {{ dimensions }};
            --cell_font_size: calc(95vmin / calc(var(--dimensions) * 1.7));
            --num_label_font_size: calc(var(--cell_font_size) / 1.79);
            --grid_size: calc(95vmin / var(--dimensions));
            --main_colour: {{ colour_palette["MAIN"] }};
            --sub_colour: {{ colour_palette["SUB"] }};
            --text_colour: {{ colour_palette["TEXT"] }};
        }    
    </style>
</head>

<body 
data-grid="{{ grid }}" 
data-dimensions="{{ dimensions }}" 
data-empty="{{ empty }}"   
data-colour_palette="{{ json_colour_palette }}"
data-intersections="{{ intersections }}">

<div id="container">                         
<div id="grid">
{% for row in range(dimensions) %} 
{% for column in range(dimensions) %}
    <!-- Determine cell content -->
    {% if grid[row][column] != empty %}  <!-- There is a word in this cell -->
        <div 
            onclick="onCellClick(this)" 
            class="non_empty_cell" 
            data-row="{{ row }}" 
            data-column="{{ column }}" 
            data-value="{{ grid[row][column] }}">

            {% if (row, column) in starting_word_positions %}  <!-- Start of a word -->
                <div 
                    class="num_label" 
                    data-num_label="{{ starting_word_matrix[row][column] }}">
                    {{ starting_word_matrix[row][column] }}
                </div>
            {% endif %}
        </div>

    {% else %} <!-- This cell will have no characters -->
        <div 
            class="empty_cell" 
            data-row="{{ row }}" 
            data-column="{{ column }}" 
            data-value="None">
        </div>
    {% endif %} 

    {% endfor %}  
    {% endfor %} 
</div>

<div class="definitions">
<div class="definitions_a"> <!-- Column one for across definitions -->
    <ul>
        <h3 class="def_heading">Across</h3>
        {% for dict_ in definitions_a %}
        {% for num_label, definition in dict_.items()%}
            <!-- I can't indent this because of pre-wrap whitespace 🥺 -->
            <li 
                data-num="{{ num_label }}" 
                onclick="onDefinitionsListItemClick('{{ num_label }}', 'ACROSS')"><b>{{num_label}}</b>  {{ definition[1]}}</li>
        {% endfor %}
        {% endfor %}
    </ul>
</div>  
<div class="definitions_d"> <!-- Column two for downward definitions -->
    <ul>
        <h3 class="def_heading">Down</h3>
        {% for dict_ in definitions_d %}
        {% for num_label, definition in dict_.items()%}
            <li 
                data-num="{{ num_label }}" 
                onclick="onDefinitionsListItemClick('{{ num_label }}', 'DOWN')"><b>{{num_label}}</b>  {{ definition[1]}}</li>
        {% endfor %}
        {% endfor %}
    </ul>
</div>
</div>
</div>
</body>
</html> 

